
body{
	background-color: #a0d6dd;
}

table{
	border-spacing: 3px;
	margin: 10px auto;
	background-color: #a0d6dd;
	border: 1px solid #a0d6dd;
}

td {
	background-color: #ffffff;
	border-radius: 10px;
	width: 100px;
	height: 80px;
	text-align: center;
	border: 1px solid black;
}

h1{
	/*font-size: 48px;
	text-shadow: -1px -1px #9df, 1px 1px #49d, -3px 0 4px #000;
	font-family:"Segoe print", Arial, Helvetica, sans-serif;
	color:#6bf;
	padding:24px 32px 32px 32px;
	font-weight:lighter;
	-moz-box-shadow: 2px 2px 6px #888;
	-webkit-box-shadow: 2px 2px 6px #888;
	box-shadow:2px 2px 6px #888;
	text-align:center;
	display:inline;
	line-height:150px;
	background-image:url("../images/morpion/cp-21keo2.jpg");*/

	text-align: center;
	font-size: 50px;
	font-weight: 600;
	background-image: linear-gradient(to left, #553c9a, #b393d3);
	color: transparent;
	-webkit-background-clip: text;
}

td:hover{
	background-color: #ebeffa;
	cursor: pointer;
}
.symbole_0{
	background-image:url("../images/morpion/0.png");
}

.symbole_1{
	background-image:url("../images/morpion/1.png");
}